{% extends 'layout_front.html.twig' %}

{% block title %}G Blog | Ingreso{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row vh-100 d-flex align-items-center">
            <div class="col-12 fixed-top">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <div class="col-sm-6 col-10 offset-sm-3 offset-1 align-self-center">
                <form method="post">
                     <a href="{{ path('blog') }}"><h1 class="mb-4 text-center text-white">G Blog</h1></a>

                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Usuario" class="form-control mb-3" required autofocus>

                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" class="form-control" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox mt-3 mb-3 text-left text-secondary">
                        <label>
                            <input type="checkbox" name="_remember_me"> Recuérdame
                        </label>
                    </div>

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="panel panel-default mb-3">
                        <div class="panel-body text-center text-info">
                            ¿Nuevo en G Blog? |
                            <a class="text-right text-light" href="{{ path('register') }}">Regístrate</a>
                        </div>
                    </div>

                    <button class="btn btn-secondary btn-lg btn-block" type="submit">
                        Ingresar
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}