{% extends 'layout_front.html.twig' %}

{% block seo %}
    <meta name="description" content="G Blog | {{ post.title }}">
    <meta name="keywords" content="{{ keywords|lower }}">
{% endblock %}

{% block title %}G Blog | {{ post.title }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <article class="col-12">
        <h1 class="mt-4">{{ post.title }}</h1>

        <p class="lead">
            {% set profileImage = post.user.profile.profileImage ? 'images/user/' ~ post.user.profile.profileImage : 'build/images/user.png'  %}
            <img src="{{ asset(profileImage) }}" alt="{{ post.user.firstName ~ ' ' ~ post.user.lastName }}" class="user-profile-image rounded-circle">
            por <em>{{ post.user.firstName ~ ' ' ~ post.user.lastName }}</em> <small class="badge badge-sm badge-light ml-1">{{ post.createdAt|ago }}</small>
        </p>

        <hr>

        <div class="mb-3">
            {% if post.mainImage %}
                <img class="img-fluid" src="{{ asset('images/post/' ~ post.mainImage) }}" alt="G Blog | {{ post.title }}">
            {% else %}
                <img class="img-fluid" src="https://via.placeholder.com/1920x1080" alt="Imagen de la publicación">
            {% endif %}
        </div>

        <hr>

        <div class="content">
            {{ post.body|raw }}
        </div>

        <hr>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <span class="badge badge-info post-comments-count">{{ post.comments|length }}</span> <small>Comentarios</small>
            </li>
            <li class="list-group-item">
                <i class="fa fa-heart {{ likedByUser ? 'text-danger' : 'fa-heart-o' }}" aria-hidden="false"></i>
                <span class="badge badge-danger post-likes-count" data-post="{{ post.id }}">{{ likes }}</span>
                {% if app.user is not null %}
                    <small class="toggle-like text-danger" data-post="{{ post.id }}" data-liked="{{ likedByUser }}">Me gusta</small></a>
                {% endif %}
            </li>
        </ul>

        <hr>

        {% if app.user is not null %}
            <div class="card my-4">
                <h5 class="card-header">Deja un comentario</h5>
                <div class="card-body">
                    <form id="comment-frm">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" id="comment" name="comment" required></textarea>
                            <input type="hidden" name="post" id="post" value="{{ post.id }}">
                        </div>

                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </form>
                </div>
            </div>
        {% endif %}

        <div id="post-comments">
            {{ render(controller('App\\Controller\\FrontController::getPostComments', {'post': post.id} )) }}
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}