{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-block btn-{{ button_class|default('success') }}">{{ button_label|default('Agregar') }}</button>
{{ form_end(form) }}
