{% extends 'layout_back.html.twig' %}

{% block title %}G Blog - Gestionar publicaciones{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="mb-3">
            <h1 class="d-inline">Gestionar publicaciones</h1> <a class="btn btn-sm btn-outline-dark float-right" href="{{ path('dashboard') }}">Mis publicaciones</a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Imagen</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Rechazado</th>
                        <th>Creado</th>
                        <th>Actualizado</th>
                        <th>Comentarios</th>
                        <th>Likes</th>
                    </tr>
                    <tr colspan="11"></tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>
                            {% if post.mainImage %}
                                <img class="post-main-image img-fluid img-thumbnail" src="{{ asset('images/post/' ~ post.mainImage) }}" alt="{{ post.title }} main image">
                            {% else %}
                                <img class="post-main-image img-fluid img-thumbnail" src="https://via.placeholder.com/1920x1080" alt="Post main image fallback">
                            {% endif %}
                        </td>
                        <td>{{ post.title }}</td>
                        <td><em>{{ post.user.firstName ~ ' ' ~ post.user.lastName }}</em></td>
                        <td>{{ post.rejected ? 'Sí' : 'No' }}</td>
                        <td>{{ post.createdAt ? post.createdAt|ago : '' }}</td>
                        <td>{{ post.updatedAt ? post.updatedAt|ago : '' }}</td>
                        <td>{{ post.comments|length }}</td>
                        <td>{{ post.likes ? post.likes : 0 }}</td>
                    </tr>
                    <tr>
                        <td colspan="11">
                            <div class="btn-group float-right">
                                {% if not post.rejected and post.visible %}
                                    <a class="btn btn-sm btn-info" href="{{ path('post', {'url': post.url}) }}" target="_blank">Ir a publicación</a>
                                {% else %}
                                    <a class="btn btn-sm btn-info" href="{{ path('post_preview', {'url': post.url}) }}" target="_blank" rel="nofollow">Ir a publicación (vista previa)</a>
                                {% endif %}

                                <a class="btn btn-sm btn-outline-info" href="{{ path('post_show', {'id': post.id}) }}">Más información</a>

                                {% if post.user.id == app.user.id %}
                                    <a class="btn btn-sm btn-secondary" href="{{ path('post_edit', {'id': post.id}) }}">Editar</a>

                                    {{ include('blog_back/post/_delete_form.html.twig') }}
                                {% endif %}

                                {% if 'ROLE_ADMIN' in app.user.getRoles() == true %}
                                    {% if not post.rejected %}
                                        {{ include('blog_back/post/_reject_form.html.twig') }}
                                    {% else %}
                                        {{ include('blog_back/post/_unreject_form.html.twig') }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11"><blockquote>No hay publicaciones de momento</blockquote></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
     </div>
{% endblock %}