<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}G Blog{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('back') }}
        {% endblock %}
    </head>

    <body>
        {% block header %}
            {{ render(controller('App\\Controller\\SecurityController::getUserData', {'route': app.request.attributes.get('_route'), 'mode': 'back'} )) }}
        {% endblock %}

        <div class="container container--back">
            <div class="row">
                <div class="col-12">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}
            <footer class="footer mt-auto py-3 bg-dark">
                <div class="container">
                    <span class="text-muted">Desarrollado por: <a class="copyrights text-muted" href="https://jormanespinoza.com">Jorman Espinoza</a></span>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('back') }}
        {% endblock %}
    </body>

</html>